absl-py
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
babel
beautifulsoup4
black
bleach
Brotli
cached-property
certifi
cffi
charset-normalizer
chex
click
comm
contourpy
cycler
debugpy
decorator
defusedxml
etils
exceptiongroup
executing
fastjsonschema
filelock
flax
fonttools
fqdn
gitdb==4.0.12
GitPython==3.1.45
gmpy2
h11
h2
hpack
httpcore
httpx
humanize
hydra-core
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
isoduration
jax
jaxlib==0.6.2
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
lark
markdown-it-py
MarkupSafe
matplotlib==3.10.5
matplotlib-inline
mdurl
mistune
ml-dtypes
mpmath
msgpack
munkres==1.1.4
mypy_extensions
narwhals==2.2.0
nbclient
nbconvert
nbformat
nest_asyncio
networkx
notebook_shim
numpy
omegaconf
opt_einsum
optax
orbax-checkpoint
overrides
packaging
pandas
pandocfilters
parso
pathspec
pexpect
pickleshare
pillow
pip
platformdirs
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pycparser
pydantic==2.11.7
pydantic_core==2.33.2
Pygments
pyparsing
PySocks
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
rax==0.4.0
referencing
requests
rfc3339_validator
rfc3986-validator
rfc3987-syntax
rich
rpds-py
scikit-learn
scipy
Send2Trash
sentry-sdk==2.37.1
six
smmap==5.0.2
sniffio
soupsieve
stack_data
sympy
tensorstore
terminado
threadpoolctl
tinycss2
tomli
toolz
torch==2.5.1
tornado
tqdm==4.67.1
traitlets
types-python-dateutil
typing-inspection==0.4.1
typing_extensions
typing_utils
tzdata
unicodedata2
uri-template
urllib3
wandb==0.21.3
wcwidth
webcolors
webencodings
websocket-client
zipp
zstandard==0.23.0
